{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'design/nav_bar.css' %}">

<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="{% url 'home' %}">YesWorkflow</a>
        </div>
        
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'my-workflows' %}">
                        My Workflows
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'admin:index' %}">
                        Admin
                    </a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block title %}Forgot Password{% endblock title %}

{% block content %}
<form method="post" action="{% url django.contrib.auth.views.password_reset %}">
    {% csrf_token %}
    <p>Please enter your email address. 
        You will receive a link to create a new password via email.</p>

    <input type="email" name="email" 
        placeholder="Your e-mail"><br/>

    <button type="submit">Send new password</button>
</form>
{% endblock content %}