<html>
{% load staticfiles %}
{% include 'includeable/navbar.html' %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'design/nav_bar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'design/login.css' %}">

<div class="credentials">
    <h2>Login</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
    <p> Forgot password?</p>
    <a href="{% url 'password_reset' %}">Reset Password</a>
    <p></p>
    <p>Don't have an account?</p>
    <a href="{% url 'register' %}">Create an account</a>
</div>

