.list {
	text-align: center;
	align-items:center;
    padding: 20px 40px 10px 0px;; 
    background-color: white;
    margin:0 10%;
	width:80%;
	min-height:500px;
	height: 80%;
}

.workflow-details {
	font-size: 14px;
}

.details-button {
	width: 120px;
}

.tab {
	margin: 0 0 0 10%;
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-color: white;
	text-align: center;
	font-size: 16px;
	border-radius: 5px 5px 0 0;
	border: 1px dashed;
}

.title {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: rgb(0, 0, 0);
}

#elementStyle li {
	display: table;
	text-align: left;
	list-style-type: none;
    padding: 10px;
	border: 1px dashed;
	width: 100%;
}

img {
    margin: 5px;
	max-width: 100%;
	max-height: 50%;
}


svg {
	width: 100%;
	max-height: 20em;
}
