.list {
	text-align: center;
	align-items:center;
    padding: 20px 40px 10px 0px;; 
    background-color: white;
    margin:0 10%;
	width:80%;
	min-height:500px;
	height: 80%;
}

.workflow-details {
	font-size: 14px;
	display: hidden;
	margin-bottom: 20px;
}

.more-details-button {
	border: solid black 1px;
	border-radius: 4px;
	padding: 5px;
	background-color: rgb(235, 235, 235);
	color: #000000;
}

.more-details-button:hover {
	background-color: rgb(187, 187, 187);
	color: #000000;
	text-decoration: none;
	
}
.details-button {
	width: 180px;
	border: black solid 1px;
	background: lightgrey;
	color: black;
}

.tab {
	margin: 0 0 0 10%;
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-color: white;
	text-align: center;
	font-size: 16px;
	border-radius: 5px 5px 0 0;
	border: 1px dashed;
}

.title {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: rgb(5, 97, 92);
}

#elementStyle li {
	display: table;
	text-align: left;
	list-style-type: none;
    padding: 10px;
	border: 1px dashed;
	width: 100%;
}

img {
    margin: 5px;
	max-width: 100%;
	max-height: 50%;
}


svg {
	width: 100%;
	max-height: 20em;
}
