{% load static %}

{% comment %}
 <!-- Content to be paginated must be assigned to the document_list keyword argument when including
        
    Example:
    {% include 'includeable/paginator.html' with document_list=<pageable_object> %}


    The 'document_list' object must be a list like object with each 'document' element 
    having the following attributes.

    document:
        title       {string}
        description {string}
        graph       {string}    /* graphviz string representation */
        
 -->
{% endcomment %}


{% if document_list %}

    <ol id="elementStyle">
        <script type="text/javascript" src={% static "scripts/home_render_options.js" %}></script>

        {% for document in document_list %}
            <li>
                <div class = "title">
                    {{ document.title|linebreaks }}
                </div>
                <div id="graph{{ forloop.counter }}" class = workflow-image></div>

                <div class = "workflow-details" id="description">
                    <b>Description: </b>{{ document.description }}
                </div>
                <div style = "text-align:center">
                    <a class = "more-details-button" href="{% url 'detailed_workflow' document.id %}"> View Details</a>
                </div>      
                <!-- <button class="details-button" onClick = "description_view()">View Details</button> -->

            </li>
            <script>
                function description_view(){
                    var description = document.getElementById("description");
                    if (description.style.display === "none") {
                        description.style.display = "block";
                    }
                    else {
                        description.style.display = "none";
                    }
                }
            </script>
            <script type="text/javascript">
                graph = `{{ document.graph|safe }}`
            </script>
            <script type="text/javascript" src={% static "scripts/graphviz_render.js" %}></script>
        {% endfor %}

    </ol>

{% else %}

    <p>There are no documents in the system.</p>

{% endif %}  
