.block-list-container {
    width: 100%;
}

.block-list-item {
    padding-top: .25em;
    text-align: left;
    align-items: left;
}

.hidden {
    display: none;
}

.block-list-span {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.static-left {
    display: block;
    width: 1em;
    line-height: 1.65;
}

.collapsed-content {
    padding-left: 2em;
}

.dynamic-right {
}
