.block-list-container {
    width: 100%;
    white-space: nowrap;
    
}

.block-list-item {
    padding-top: .25em;
    text-align: left;
}

.hidden {
    display: none;
}

.block-list-span {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    line-height: .95;
}

.static-left {
    display: block;
    width: 1em;
}

.collapsed-content {
    padding-left: 2em;
    line-height: .95;
}

.dynamic-right {
    font-size: 14px;
}

.hidden-text {
    opacity: 0;
}

.centerish {
    margin-left: 40%;
}

/* overriding bootstrap */
.form-control {
    height: 23px;
    padding: 1px;
    font-size: 1em;
}

.dataTables_scrollHead {
    height: 34px;
}

.table > tbody > tr > td {
    padding: 6px;
    line-height: 1.3;
}

div.dataTables_wrapper div.dataTables_paginate {
    padding: .5em 0em .5em .5em;
}

div.dataTables_wrapper div.dataTables_info {
    padding: .5em 0em 0em 0em;
}

.pagination {
    margin: 0;
}

ul.pagination {
    height: 23px;
}

.pagination li.active {
    background: white;
}

.pagination li a {
    font-size: 1em;
    padding: 0 9px;
    line-height: 23px;
}

div.file-table-container button.btn {
    padding: 0 11px; 
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
    border-right-width: 0;
    border-left-width: 0;
}

