body, html {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%;

}

body {
    /* HACK */
    background-color: #e0ebeb;
}

.box {
    text-align: center;
    height: calc(100% - 56.56px);
    padding: 3em;
}

.border {
	margin:auto;
    text-align: left;
    background-color: white;
    height: 100%;
    padding: 3em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.list {
    border-style: solid;
    border-color: black;
    text-align: left;
    background-color: white;
    width: 94%;
    margin: auto;
    padding: 3%;
    list-style: none;
    margin-bottom: 4%;
}

.button {
    border-radius: 5px;
    margin-bottom: 5px;
}

.page-title {
    width: 95%;
    padding-left: 5%;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}

.step-links {
}

.vertical-split, .horizontal-split {
    height: 100%;
    width: 100%;
    display: flex;
}

.horizontal-split {
    flex-direction: column;
    flex-wrap: wrap;
}

.vertical-split {
    align-items: center;
    margin: 1em 0;
}

.flex1 {
    flex: 1;
}

.width40p {
    width: 40%;
}

.height50p {
    height: 50%;
}

.height-40em {
    height: 40em;
}
