.edit_button {
    float: left;
    color: grey;
    font-size: 17px;
}

.delete {
    font-size: 12px;
}

.run-delete {
    font-size: 12px;
    float: right;
    font-weight: bold;
    margin-top: -32px;
    padding-right: 2%;
}


#run-delete button {
    background-color: #f1f1f1;
    font-color: blue;
}

.outside_data {
    margin: auto;
    padding: 3%;
    color: black;
    border-style: transparent;
    text-align: left;
    background-color: #f1f1f1;
    margin: 3% 0;
    border-radius: 10px;

}

.run-list {
    margin: auto;
    padding: 0%;
    list-style-type: none;
}

#run_style li {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	text-align: left;
	background-color: #f1f1f1;
	border-width: 2px;
	border-color: black;
	margin-bottom: 3%;
}

.run-text {
    text-align: left;
    padding-bottom: 3%;
    color: rgb(5, 97, 92);
    font-weight: bold;
}

.title {
    padding-top: 1em;
    font-size: 28px;
    border: transparent;
    text-align: center;
    font-weight: bold;
    color: rgb(5, 97, 92);
}

.table-title {
    color: black;
}

.tags {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 15%;
    white-space: nowrap;
}

span.tags:hover {
    overflow: visible;
}

.workflow-id {
	text-align: right;
    margin-right: 2%;
	padding-top: 1%;
	color: grey;
}

.detailed-dropdown-container {
    display: flex;
    align-content: center;
    width: 100%;
    height: 5em;
}

.link-highlight-off:hover {
	text-decoration: none;
	color: inherit;
}