
.edit_button {
    float: left;
    color: grey;
    margin-top: 20px;
    padding-left: 20px;
    font-size: 17px;
}

button {
    border-radius: 5px;
    margin-bottom: 5px;
}

.delete {
    font-size: 12px;
}

.list {
    border-style: solid;
    border-color: black;
    text-align: left;
    background-color: white;
    width: 94%;
    margin: auto;
    padding: 3%;
    list-style: none;
    margin-bottom: 4%;
}


.runs {
    text-align: left;
    background-color: white;
    width: 100%;
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

img {
    margin: 50%;
}


.box {
    margin:auto;
    text-align: center;
    background-color: white;
    width: 90%;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.outside_data {
    margin: auto;
    padding: 3%;
    color: black;
    border-style: transparent;
    text-align: left;
    background-color: #f1f1f1;
    margin: 3% 3%;
    border-radius: 10px;

}

ol {
    margin: auto;
    padding: 0%;
    list-style-type: none;
}

#elementStyle li {
    border: none;
    width: 94%;
    margin: auto;
    list-style-type: none;
}

#run_style li {
    border: 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    margin-top: 15px;
/*    margin: auto;*/
    list-style-type: none;
    text-align: left;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: #f1f1f1;
    border-width: 2px;
}

svg {
    width: 100%;
    height: 20em;
}

.run-text {
    text-align: left;
    padding-left: 3%;
    color: rgb(5, 97, 92);
    font-weight: bold;

}

.title {
    font-size: 22px;
    padding: 3%;
    border: transparent;
    text-align: left;
    font-weight: bold;
    color: rgb(5, 97, 92);
}

.table_title {
    color: black;
}

.workflow-image{
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    text-align: left;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

.workflow_id {
	text-align: right;
    margin-right: 2%;
	padding-top: 1%;
	color: grey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #000000;
    color: #ffffff;
}

.tags{
    /*display: inline-block;*/
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 15%;
    white-space: nowrap;
}

span.tags:hover {
    overflow: visible;
}


