.edit {
	margin-left: 3%;
	margin-right: 3%;
	padding: 3%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	text-align: left;
	background-color: white;
}
.title2 {
	color: rgb(5, 97, 92);
	font-weight: bold;
}

.tagInput {
	width: 40%;
}

.title1 {
	width: 90%;
	font-weight: 3px;
	text-align: left;
	color: black;
}

textarea {
	width: 40%;
}


input {
	width: 40%;
}

.addTag {
	width: 5%;
	border-radius: 10px;
}

button {
	border-radius: 5px;
}