.title2 {
	color: rgb(5, 97, 92);
	font-weight: bold;
	font-size: 26px;
}

.title1 {
	width: 90%;
	font-weight: 3px;
	text-align: left;
	color: black;
}

.input {
	width: 50%;
	border-width: 2px;
	border-style: ridge;
	outline: lightgrey;
}

.tag-input {
	width: 40%;
}

.addTag {
	width: 5%;
	border-radius: 10px;
}

button {
	border-radius: 5px;
}
