.graph_container {
    border: solid;
    width: 100%;
    margin: auto;
    list-style-type: none;
}

.workflow-image {
    width: 100%;
}

.workflow-image * {
    max-width: 100%;
    max-height: 40em;
}
