.link-highlight-off:hover {
	text-decoration: none;
	color: inherit;
}

.workflow-details {
	font-size: 14px;
	overflow: hidden;
	max-height: 65px;
}

.more-details-button {
	border: solid black 1px;
	border-radius: 4px;
	padding: 5px;
	background-color: rgb(235, 235, 235);
	color: #000000;
}

.more-details-button:hover {
	background-color: rgb(187, 187, 187);
	color: #000000;
	text-decoration: none;
	
}

.dns {
	margin-left: auto;
	margin-right: 15%;
	height: 2em;
	width: 10em;
	padding-top: 3em;
	top: 4em;
}

.dns-text {
	position: relative;
	color: grey;
	border-style: solid;
	text-align: center;
	border-width: 1px;	
	border-radius: 5px;
}

.tooltiptext {
	position: absolute;
	visibility: hidden;
	width: 500px;
	right: 2%;
	color: grey;
}

.dns:hover .tooltiptext {
	visibility: visible;
}

.title {
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: rgb(5, 97, 92);
}

.large-text {
	font-size: 28px;	
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	text-align: left;
	background-color: #f1f1f1;
	border-width: 2px;
	border-color: black;
	margin-bottom: 3%;
}

.expand-description-button {
	color: rgb(9, 148, 141);
	font-size: 12px;
	padding: 0px;
	background-color: transparent;
	border: none;
}

.expand-description-button:focus {
	outline: none;
}