/* navbar */
.navbar-default {
    height: auto;
    width: 100%;
    background-color:rgb(3, 97, 92);
}
/* Title */
.navbar-default .navbar-brand {
    color: rgb(236, 236, 236);
    font-family: 'Anton';
    display: inline-block;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    display: inline-block;
    color: #FFFFFF;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    display: inline-block;
    color: rgb(236, 236, 236);
}

.navbar-default .navbar-nav > li > input[type=text] {
    display: inline-block;
    border: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    display: inline-block;
}

.search {
    padding: 5%;
    width: fit-content;
    text-align: center;
    display: inline-flex;
}

.searchbutton {
    text-align: right;
    display: inline;
    background-color: #f0f0f0;
}
