.title {
	padding: 8px;
	text-align: center;
	font-size: 20px;
	border-bottom: 1px dashed black;
	border-top: 1px dashed black;
	background-color: white;
}

.collapseable-list {
    text-align: left;
    padding-top: 1em;
}

.run-dropdown-container {
    display: flex;
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 1.5em;
    margin:auto;
}
