<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'design/nav_bar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'design/home_design.css' %}">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css">
<script src={% static "scripts/viz.js" %}></script>
<script src={% static "scripts/d3.min.js" %}></script>
<script src={% static "scripts/d3-graphviz.min.js" %}></script>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">YesWorkflow</a>
        </div>
        
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'my-workflows' %}">
                        My Workflows
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'admin:index' %}">
                        Admin
                    </a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    {% if user.is_authenticated %}
                    <a> {{user.get_username}} </a>
                    {% else %}
                    <a href="{% url 'login' %}"> Login </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>

</nav>
<div class = "search">
    <p> Search: <input type="text" placeholder="Search">
    <link rel="stylesheet" type="text/css" href="{% static 'design/home_design.css' %}">
    <button type="button">Go</button>
    </p>
</div>

<div class="tab">
   All Workflows
</div>
<div class="list">
   
    {% block workflows %}
      {% if document_list %}
      <ol id="elementStyle">
        <script type="text/javascript" src={% static "scripts/home_render_options.js" %}></script>
        {% for document in document_list %}
          <li>
            <div class = "title">
                <a href="{% url 'detailed_workflow' document.id %}">{{ document.title|linebreaks }}</a> 
            </div>
            <div id="graph{{ forloop.counter }}" class = workflow-image></div>
            <div class = "workflow-details">
                <b>Description: </b>{{ document.description }}
            </div>
          </li>
          <script type="text/javascript">
            graph = `{{ document.graph|safe }}`
          </script>
          <script type="text/javascript" src={% static "scripts/graphviz_render.js" %}></script>
        {% endfor %}
      </ol>
      {% else %}
        <p>There are no documents in the system.</p>
      {% endif %}  

      <div class="pagination">
        <span class="step-links">
            {% if document_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ document_list.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ document_list.number }} of {{ document_list.paginator.num_pages }}.
            </span>
    
            {% if document_list.has_next %}
                <a href="?page={{ document_list.next_page_number }}">next</a>
                <a href="?page={{ document_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>      
    {% endblock %}
</div>

</html>
