{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'design/nav_bar.css' %}">

<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="{% url 'home' %}">YesWorkflow</a>
        </div>
        
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        My Workflows
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        Admin
                    </a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<link rel="stylesheet" type="text/css" href="{% static 'design/run_detail.css' %}">
<div class = box>
    <div class = title>
        {{ document.title|linebreaks}}
    </div>

    <img src="{% static 'workflow.JPG' %}" alt="Workflow Image">

    <div class = 'inputs'>
        <p>Inputs:</p>
        <table align="center">
            <tr>
                <th>Name</th>
                <!-- <th>Creation Date</th> -->
            </tr>
            <tr>
                <td>Analysis 1 </td>
            </tr>
            <tr>
                <td>Analysis 2 </td>
            </tr>

        </table>
    </div>
    <div class = 'outputs'>
        <p>Outputs:</p>
        <table align="center">
            <tr>
                <th>Name</th>
                <!-- <th>Creation Date</th> -->
            </tr>
            <tr>
                <td>Analysis 1 </td>
            </tr>
            <tr>
                <td>Analysis 2 </td>
            </tr>

        </table>
    </div>
<!--     <div class = outside_data>
        Description: {{document.description}}
    </div> -->
</div>


