{% comment %}

Dependencies: 
1. The JavaScript file `scripts/collapse.js` must be included directly below where this component
   is included on the page. 
2. This component should be enclosed in a div with an id="collapse"

Example: 
<div id="collapse">
    {% include 'includeable/collapseable_block_list.html' with blocks=<ProgramBlocks-object>%}
</div>
<script src="{{ STATIC_PREFIX }}scripts/collapse.js"></script>

To use this class must pass in a ProgramBlocks object to the blocks argument. ProgramBlocks
can be found here: https://github.com/aniehuser/senior-design-group10/blob/master/yw_website/yw_website/apps/website/program_blocks.py

{% endcomment %}

{% load static %}
{% load custom_filters %}
{% get_static_prefix as STATIC_PREFIX %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}design/collapseable_block_list.css">

<div class="block-list-container">
{% for block in blocks %}
    <div id="block-list-item-{{ block.id }}" class="block-list-item">
        <div class="block-list-span">
            <div id="expand-button-element-{{ block.id }}" class="static-left">
                {% if block.direct_descendants or blocks.in_ports or block.out_ports %}
                    <i id="expand-button-{{ block.id }}" class="fas fa-plus"></i>
                    <i id="collapse-button-{{ block.id }}" class="fas fa-minus"></i>
                {% endif %}
            </div>
            <div class="dynamic-right">
                {{ block.name|trailing_block_name }}
            </div>
        </div>
        <div id="collapse-content-{{ block.id }}" class="collapsed-content">
            {% include 'includeable/collapseable_port.html' with port_type="Inputs" id=block.id ports=block.in_ports %}
        
            {% include 'includeable/collapseable_port.html' with port_type="Outputs" id=block.id ports=block.out_ports %}
            
            <div class="block-list-span">
            {% if block.direct_descendants %}
                <div id="expand-button-element-blocks{{ block.id }}" class="static-left">
                        <i id="expand-button-blocks{{ block.id }}" class="fas fa-plus"></i>
                        <i id="collapse-button-blocks{{ block.id }}" class="fas fa-minus"></i>
                    </div>
                    <div class="dynamic-right"> 
                        Blocks
                    </div>
            {% endif %}
            </div>
            <div id="collapse-content-blocks{{ block.id }}" class="collapsed-content">
            {% if block.direct_descendants %}
                {% include 'includeable/collapseable_block_list.html' with blocks=block.direct_descendants %}
            {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
