{% comment %}

The JavaScript file `scripts/collapse.js` must be included directly below where this component
is included on the page.

Example: 
{% include 'includeable/collapseable_block_list.html' with blocks=<ProgramBlocks-object>%}

To use this class must pass in a ProgramBlocks object to the blocks argument. ProgramBlocks
can be found here: https://github.com/aniehuser/senior-design-group10/blob/master/yw_website/yw_website/apps/website/program_blocks.py

{% endcomment %}

{% load static %}
{% load custom_filters %}
{% get_static_prefix as STATIC_PREFIX %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}design/collapseable_block_list.css">

<div class="block-list-container">
{% for block in blocks %}
    <div id="block-list-item-{{ block.id }}" class="block-list-item">
        <div class="block-list-span">
            <div id="expand-button-element-{{ block.id }}" class="static-left">
                {% if block.direct_descendants %}
                <i id="expand-button-{{ block.id }}" class="fas fa-plus"></i>
                <i id="collapse-button-{{ block.id }}" class="fas fa-minus hidden"></i>
                {% endif %}
            </div>
            <div class="dynamic-right">
                Block Name: {{ block.name|trailing_block_name }}
                <div id="collapse-content-{{ block.id }}" class="collapsed-content hidden">
                    {% include 'includeable/collapseable_block_list.html' with blocks=block.direct_descendants %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
