
{% if resources %}
{% load custom_filters %}
<table id="scroll-table" class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th class="th-sm">Name</th>
            <th class="th-sm">File Path</th>
            <th class="th-sm">Size</th>
            <th class="th-sm">Last Modified</th>
        </tr>
    </thead>
    <tbody>
        {% for res in resources %}
        <tr id="resource-id-{{ res.checksum }}" class="resource-selection">
            <td>{{ res.name }}</td>
            <td>{{ res.uri }}</td>
            <td class="align-right">{{ res.size|pretty_bytes }}</td>
            <td class="align-right">{{ res.last_modified }}</td>
        </tr>
        {% endfor%}
    </tbody>
</table>
<a id="associated-workflows">
    <button class="waves-effect waves-light btn centerish" type="submit">Associated Workflows</button>
</a>
<script>
    var associatedWorkflows = $("#associated-workflows")
    $(".resource-selection").click(function(e){
        $(".resource-selection").removeAttr("style")
        var target = e.target;
        if(!target.id)
        {
            target = target.parentNode
        }
        $(target).attr("style", "background-color: #e0ebeb;")
        id = target.id.split("-")
        check = id[id.length-1]
        associatedWorkflows.attr("href", `{% url 'home' %}?q=${check}&resource`) 
    })


</script>
<script>
$(document).ready(function () {
    $('#scroll-table').DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
});
</script>
{% else %}
<p class="center-text">No files selected, click on a file in the dropdown to the left to view here.</p>
{% endif %}
