{% comment %}
    Expects a Resource object passed in.

    Example:
        {% include 'includeable/file_table_row.html' with resource=resource %}

{% endcomment %}

{% load custom_filters %}

<tr>
    <td class="file-table-cell">{{ resource.name }}</td>
    <td class="file-table-cell">{{ resource.uri }}</td>
    <td class="file-table-cell">{{ resource.size|pretty_bytes }}</td>
    <td class="file-table-cell">{{ resource.last_modified }}</td>
    <td class="file-table-cell">{{ resource.checksum }}</td>
    <a><td class="file-table-cell">button placeholder</td></a>
</tr>