{% comment %}
 <!-- Content to be paginated must be assigned to the document_list keyword argument when including
        
    Example:
    {% include 'includeable/paginator.html' with document_list=<pageable_object> %}
        
 -->
{% endcomment %}
<div class="pagination">
    <span class="step-links">
        {% if document_list.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ document_list.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ document_list.number }} of {{ document_list.paginator.num_pages }}.
        </span>

        {% if document_list.has_next %}
            <a href="?page={{ document_list.next_page_number }}">Next</a>
            <a href="?page={{ document_list.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div> 
