{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}design/detailed_design.css">

{% if run_list %}
<ol class="run-list" id=run_style>
    {% for run in run_list %}
    <li>
        <div class="table-title">
            <a href="{% url 'run_detail' run.id %}">Run#{{ forloop.counter}}</a> 
        </div>
        <div class="workflow-details">
            <b>Time Stamp: </b>{{ run.run_time_stamp }} 
        </div>
        <div class="run-delete">
            <button onclick="deleteFunctionRuns()">Delete</button>
        </div>
        <script>
            function deleteFunctionRuns() {
                if (confirm("Do you really want to delete this run?")) {
                    document.location.href="{% url 'delete_runs' workflow.id version.id run.id %}";
                }
            }
        </script>
    </li>
    {% endfor %}
</ol>
{% else %}

    <p>There are no Runs in the system.</p>

{% endif %}  
