{% load static %}

{% comment %}
Content to be paginated must be assigned to the workflow_list keyword argument when including
        
    Example:
    {% include 'includeable/paginator.html' with workflow_list=<pageable_object> %}


    The 'workflow_list' object must be a list like object with each 'workflow' element 
    having the following attributes.

    workflow:
        title       {string}
        description {string}
        graph       {string}    /* graphviz string representation */
        version_id  {int}
{% endcomment %}


{% if workflow_list %}

    <ol id="elementStyle">
        <script type="text/javascript" src={% static "scripts/home_render_options.js" %}></script>

        {% for workflow in workflow_list %}
            <li>
                <a class = "title" href="{% url 'detailed_workflow' workflow.id workflow.version_id %}"">
                        {{ workflow.title|linebreaks }}
                </a>
                <div class = "last-modified"> 
                    {{ workflow.version_modified }}
                </div>
                
                <div  class = "workflow-description" id="description">
                    <b>Description: </b>{{ workflow.description }}
                </div>
                <div >                
                    <input id = "description-button" type="button" value = "Read More..." class = "expand-description-button" onClick="description_view()" ></input>
                </div>
                <div class = "tags-label">
                        Tags:
                        <div class = "tags">
                            {{ workflow.tags | join:", " }}
                        </div>
                    </div>

            </li>
            <script>
                function description_view(){
                    var description = document.getElementById("description");
                    var button = document.getElementById("description-button")
                    if (window.getComputedStyle(description, null).getPropertyValue("height") === '60px') {
                        description.style.height = "auto";
                        button.value = "Read Less..."
                    }
                    else {
                        description.style.height = "60px";
                        button.value = "Read More..."
                    }
                }

                document.getElementById("content").onclick = function() {
                    this.style.height = 'auto';
                }
            </script>
            <script type="text/javascript">
                graph = `{{ workflow.graph|safe }}`
            </script>
            <script type="text/javascript" src={% static "scripts/graphviz_render.js" %}></script>
        {% endfor %}

    </ol>

{% else %}

    <p>There are no workflows in the system.</p>

{% endif %}  
