{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'design/nav_bar.css' %}">
<div class="navbar">
        <div class="topnav">
            <nav>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'users' %}">Users</a>
                <a href="#">Workflows</a>
                <a href="#">Files</a>
            </nav>
        </div>
    </div>
{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
