<!DOCTYPE html>
<html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css">
{% block inherits_from_base_scripts %}{% comment %}
<!-- 
    if you want to include extra scripts or stylesheets in your page's header,
    populate this block in your page that inherits the base. Be careful if the page
    does not directly extend the base template.
 -->
{% endcomment %}{% endblock %}

{% include 'includeable/navbar.html' %}

{% block main_content %}{% endblock %}

</html>
