{% extends 'extendable/__base_template.html' %}

{% block inherits_from_base_scripts %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}design/home_design.css">
{% endblock %}

{% block main_content %}

    <div class="dns">
        {{host}}
        <span class="tooltiptext"> Use this as the server address for the YesWorkflow config file</span>
    </div>

    <div class="list">

        <!-- Content to workflow list_view must be assigned to the document_list keyword argument -->
        {% include 'includeable/workflow_list.html' with workflow_list=workflow_list %}

        <!-- Content to be paginated must be assigned to the document_list keyword argument -->
        {% include 'includeable/paginator.html' with document_list=workflow_list %}

    </div>

{% endblock %}
