{% extends 'extendable/__base_template.html' %}

{% block inherits_from_base_scripts %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <script src="{{ STATIC_PREFIX }}scripts/viz.js"></script>
    <script src="{{ STATIC_PREFIX }}scripts/d3.min.js"></script>
    <script src="{{ STATIC_PREFIX }}scripts/d3-graphviz.min.js"></script>
{% endblock %}

{% block main_content %}

<div class = box>
    <link rel="stylesheet" type="text/css" href="{% static 'design/detailed_design.css' %}">
    <div class = title>
        {{ workflow.title}}
    </div>
    <div class = "version"> 
        {% for version_ in versions %}
            {% if version_.id == version.id %}
                <text>Version #{{ forloop.counter }}</text>
            {%  endif %}
        {% endfor %}
    </div>

        <script type="text/javascript" src={% static "scripts/home_render_options.js" %}></script>
            <div id="graph1" class = workflow-image></div>
            <script type="text/javascript">
                graph = `{{ version.yw_graph_output|safe }}`
            </script>
            <script type="text/javascript" src={% static "scripts/graphviz_render.js" %}></script>


    <div class = outside_data>
        <div class= "uploaded-at">
            <b>Uploaded At: </b>{{version.last_modified}}
        </div>
        <div class = "description">
            <b>Description: </b>{{workflow.description}}
        </div>
           
    </div>

    <div class = "version-list">
        <form method="POST"> 
            {% csrf_token %}
            <select name="version_id">
            {% for version_ in versions %}
                {% if version_.id != version.id %}
                    <option value="{{version_.id}}">Version #{{ forloop.counter }}</option>
                {%  endif %}
            {% endfor %}
            </select>
            <input type="submit"  value="Go" />
        </form>
    </div>
    <div class="run-list">
            {% for version_ in versions %}
            {% if version_.id == version.id %}
                <text>Runs for version #{{ forloop.counter }}</text>
            {%  endif %}
        {% endfor %}
    </div>
   
    <div class="list">
        {% include 'includeable/run_list.html' with run_list=run_list %}
    </div>
<div>

{% endblock %}
