{% extends 'extendable/__base_template.html' %}
{% load static %}

{% block main_content %}
<form id="EditForm" method="POST">
	{% csrf_token %}
	<div class="edit" style="margin-left: 3%">
		<h3>Edit Workflow: </h3>
		Title: <input type="text" name="title" value="{{workflow.title}}" style="width: 40%;"><br><br>
		Description: <br><br>
		<textarea rows="6" type="text" name="description" style="width: 40%;">{{workflow.description}}</textarea>
		<br><br>
		Add Tags: <input type="text" id="tags" style="width: 8%;" />
	    <input type="button" id="addTag" value="+" style="border-radius: 10px;" />
	    <input type="hidden" id="tagArray" name="tagArray"> <br>
	    <p id = newtags> </p>
	    {% for tag in workflowTags %}
	    	{{ tag.tag.title}},
	    {% endfor %}
		<br><br>
		<script>
			var tag_arr = new Array()
			document.getElementById("addTag").onclick = function() {
				var x = document.getElementById("tags").value;
				if (x) {
					tag_arr.push(x)
					document.getElementById("tagArray").value = tag_arr;
					document.getElementById("newtags").innerHTML = tag_arr;
				}
				document.getElementById("tags").value = "";

			}
	    </script>
	    <button type= "submit"> Save</button>
	    <a class = "more-details-button" href="{% url 'my_workflows'%}"> Back</a>
    </div>
</form>
{% endblock %}