{% extends 'extendable/__base_template.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block inherits_from_base_scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}design/run_detail.css">
{% endblock %}

{% block main_content %}

<div class="box fit-page">
<div class="border">
    <div class="horizontal-split">

        <div class="run-dropdown-container">
            {% include 'includeable/dropdown_selection.html' with name='Run' current=run list=runs %}
        </div>
        
        <div class="text">
            <b>Workflow: </b> {{run.version.workflow.title}}
            <br>
            <b>Last Modified: </b> {{run.version.last_modified}}
        </div>
        
        <div class="vertical-split height-40em">
            <div id="collapse" class="collapseable-list width40p">
                {% include 'includeable/collapseable_block_list.html' with blocks=blocks%}
            </div>

            <div class="horizontal-split height-40em">
                <div class="height40em">
                    {% include 'includeable/graph_box.html' with yw_graph_output=graph_output %}
                </div>
                <div class="height50p">
                    <div id="file-table" class="file-table-container">
                        {% include 'includeable/file_table.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script> let tableUrl = "{% url 'populate_file_table' %}"; </script>
    <script src="{{ STATIC_PREFIX }}scripts/collapse.js"></script>
</div>
</div>
    
{% endblock %}
