{% extends 'extendable/__base_template.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block main_content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}design/common.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}design/run_detail.css">

<div class="box fit-page">
<div class="border">
    <div class="horizontal-split">

        <div class="run-dropdown-container">
            {% include 'includeable/dropdown_selection.html' with name='Run' current=run list=runs %}
        </div>
        
        <div class="text">
            <b>Workflow: </b> {{run.version.workflow.title}}
            <br>
            <b>Last Modified: </b> {{run.version.last_modified}}
        </div>
        
        <div class="vertical-split height-40em">
            <div id="collapse" class="collapseable-list width40p">
                {% include 'includeable/collapseable_block_list.html' with blocks=blocks%}
            </div>

            <div class="horizontal-split flex1 height-40em">
                <div class="height50p">
                    {% include 'includeable/graph_box.html' with yw_graph_output=graph_output %}
                </div>
                <div class="height50p">
                    <!-- placeholder for file box -->
                </div>
            </div>
        </div>
    </div>
    <script src="{{ STATIC_PREFIX }}scripts/collapse.js"></script>
</div>
</div>
    
{% endblock %}
