<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yw-Website-Home</title>
  </head>
  <body>
      {% block content %}
      <ul>
        <li>
          <p><a href="{% url 'upload' %}">Upload a new script</a></p>
        </li>
      </ul>
    
      <p>Uploaded files:</p>
      <ul>
        {% for obj in documents %}
          <li>
            <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
            <small>(Uploaded at: {{ obj.uploaded_at }})</small>
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  </body>
</html>

