<!DOCTYPE html>
<html>
{% load staticfiles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
<!-- <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css"> -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="{% url 'home' %}">YesWorkflow</a>
        </div>
        
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        My Workflows
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        Admin
                    </a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<div class = "search">
    <p> Search: <input type="text" placeholder="Search">
    <link rel="stylesheet" type="text/css" href="{% static 'design/home_design.css' %}">
    <button type="button">Go</button>
    </p>
</div>

<div class="list">
    {% block content %}
      <h2>All Workflows</h1>
      {% if document_list %}
      <ol id="elementStyle">
        {% for document in document_list %}
          <li>
            <div class "title"> {{ document.description|linebreaks}}</div>
            <a href="{{ Document.get_absolute_url }}">{{ document.description|linebreaks}}</a> 
            Uploaded: {{document.uploaded_at }}
            <img src="{% static 'example/picture.jpeg' %}" alt="My image"/>
            <!-- <p class = "workflow" > Workflow Standin</p> -->
          </li>
        {% endfor %}
      </ol>
      {% else %}
        <p>There are no documents in the system.</p>
      {% endif %}       
    {% endblock %}
</div>

</html>