/*Added*/

.list {
	/*list-style-type: none;*/
	border-style: solid;
	text-align: center;
    padding: 40px 30px; 
    /*background-color: PowderBlue;*/
    margin:auto;
    margin-top: 50px;
    margin-right: 50px;
	width:700px;
	max-width:100%; 
	overflow-x: scroll; 
	height:500px;


}

.runs {
	border-style: solid;
	text-align: center;
    padding: 40px 30px; 
    /*background-color: PowderBlue;*/
    margin:auto;
    margin-top: 100px;
	width:1000px;
	max-width:100%; 
	overflow-x: scroll; 
	height:500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
	padding: 8px;
    text-align: left;
   border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5;}
.box {
	margin:auto;
	border-style: solid;
	text-align: center;
	width:1100px;
}

.outside_data {

	padding: 10px 10px; 
	text-align: center;
}

.title {
	padding: 8px;
	text-align: center;
	font-size: 20px;
	border-bottom: 4px solid black;

}


.workflow {

 	align-text: right;
    padding: 5px;
    width: 50%;
 }


