.list {
	/*list-style-type: none;*/
	border-style: solid;
	text-align: center;
    padding: 40px 30px; 
    /*background-color: PowderBlue;*/
    margin:auto;
    margin-top: 100px;
	width:1000px;
	max-width:100%; 
	overflow-x: scroll; 
	height:500px;

}

.title {
	text-align: center;
}

#elementStyle li {
	text-align: left;
	list-style-type: none;
    padding: 12px 45px;
    margin-bottom: 6px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
  }


.workflow {
 	text-align: right;
 	border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
 }

.search {
	text-align: center;
	display: inline;
	width:50px;

}
