.list {
	/*list-style-type: none;*/
	text-align: center;
    padding: 40px 30px; 
    background-color: white;
    margin:0 10%;
	width:80%;
	max-width:100%; 
	overflow-y: scroll; 
	min-height:500px;
	height: 80%;


}

.tab {
	margin: 0 0 0 10%;
	width: 150px;
	height: 40px;
	line-height: 40px;
	background-color: white;
	text-align: center;
	font-size: 16px;
	border-radius: 5px 5px 0 0;
	border: 1px dashed;

}

.title {
	text-align: center;
}

#elementStyle li {
	text-align: left;
	list-style-type: none;
    padding: 12px 45px;
    margin-bottom: 6px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
  }


.workflow {

 	align-text: right;
    padding: 5px;
    width: 50%;
 }

.search {
	text-align: center;
	display: inline;
	width:50px;

}
