.list {
	/*list-style-type: none;*/
	border-style: solid;
	text-align: center;
    padding: 40px 40px; 
    /*background-color: PowderBlue;*/
    margin:auto;
	width:1000px;
	max-width:100%; 
	overflow-x: scroll; 
	height:500px;

}

#elementStyle li {
	text-align: center;
	list-style-type: none;
    padding: 12px 45px;
    margin-bottom: 6px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
  }
